* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}

header {
    height: 60px;
    background-image: url('blue-gradient-background.jpeg');
    padding-top: 12px;
    text-align: center;
    color: white;
}

aside {
    display: inline-block;
    width: 300px;
}

.weatherSummary{
    display: inline-block;
}

#search-input{
    height: 30px;
    font-size: 15px;
    width: 100%;
}

#search-button{
    width: 100%;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgb(67, 146, 230);
    font-size: 15px;
    color: white;
    border: 0px;
    border-radius: 5px;
}

#form-heading {
    font-size: 30px;
}

#id {
    display: block;
}

#forecast {
    display: block;
}